* {
	margin: 0;
	font-family: Roboto;
}

#header {
	background-color: #3a3a3a;
	width: auto;
	height: 23px;
	padding: 10px;
}

#searchform {
	display: inline-block;
	padding-right: 60px;
}

#loginform {
	float: right;
}

#lbusername, #lbpassword {
	color: white;
}

#btcreateacc, #bthome, #btupload, #btmyprofile, #btlogout {
	display: inline-block;
	text-decoration: none;
	color: black;
}

#body {
	margin-left: 10px;
	margin-top: 10px;
	width: 500px;
	height: 500px;
}

#formcontent {
	text-align: left;
}